[project]
	description = tests
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/PPingot (PPingot)
[access "refs/for/refs/*"]
	read = group user/PPingot (PPingot)
	push = group user/PPingot (PPingot)
	label-Code-Review = -2..+2 group user/PPingot (PPingot)
	label-Verified = -1..+1 group user/PPingot (PPingot)
	rebase = group user/PPingot (PPingot)
	removeReviewer = group user/PPingot (PPingot)
	submit = group user/PPingot (PPingot)
[access "refs/heads/*"]
	read = group user/PPingot (PPingot)
	create = group user/PPingot (PPingot)
	push = +force group user/PPingot (PPingot)
	pushMerge = group user/PPingot (PPingot)
[access "refs/tags/*"]
	push = +force group user/PPingot (PPingot)
	pushTag = group user/PPingot (PPingot)
	pushSignedTag = group user/PPingot (PPingot)
[receive]
	maxObjectSizeLimit = 1M
[submit]
	action = cherry pick
	mergeContent = true
